@charset "ISO-8859-1";

body {
	background-color: rgb(252, 182, 3);
}

.titre {
	background-color: rgba(252, 140, 3, 0.5);
}

h1 {
	font-family: Script;
	color: rgb(255, 92, 51);
}

#auth {
	background-color: rgba(252, 157, 3, 0.4);
	text-align: center;
	width: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#choix {
	width: 400px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

button {
	width: 200px;
	margin: 20px;
}

.btntable{
	width: 100px;
	margin: 0px;
	background-color: green;
}

.btntable2{
	width: 100 px;
	margin: 0px;
	background-color: red;
	
}


.formulaire {
	background-color: rgba(252, 157, 3, 0.4);
	align-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}


table, td, th {
	border: 1px solid black;
	
}
